@page "/"
@using ShopOnline.Models
@using ShopOnline.Web.Pages.Shared
@inherits ProductsBase

@*@code {

}*@

@if(Products == null)
{
	<DisplayLoading></DisplayLoading>
}
else
{
	<h3 class="mb-5">Products</h3>

	var productsCount = Products.Count();

	@if (productsCount > 0)
	{
		const int itemsPerRow = 4;
		var productListRow = new List<ProductDto>();
		var productsGroupByCategory = GetGroupedProductsByCategory();			

		@foreach(var group in productsGroupByCategory)
		{			
			<h4>@group.Key.Name</h4>
			<div class="row mt-3">
				<DisplayProducts Products="@group.Take(4)"></DisplayProducts>
			</div>
			<hr />
		}
	
	}
}
